<p id="notice"><%= notice %></p>

<p>
  <strong>Maker:</strong>
  <%= @product.Maker %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.Model %>
</p>

<p>
  <strong>Modelcode:</strong>
  <%= @product.ModelCode %>
</p>

<p>
  <strong>Producttype:</strong>
  <%= @product.ProductType %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
